td{
    padding:10px;
    background-color:darkorange;
    color:midnightblue;
    font-weight:bold;
    max-width: 20px;
}
table{
    width:100%;
}
sup, #show_hidedialpad{
    font-size:10px;
}
.digit, #delete, #call, #hold, #transfer{
    cursor:pointer;
}
#dialpad{
    display:none;
}
#visor{
    height:50px;
    background:#B8B8B8;
}
#number{
    font-size:15px;
    height:20px;
}
#call{
    background: olivedrab;
}
#extras{
    float:right;
}
#hold, #transfer{
    font-size:10px;
    height:10px;
    background:gray;
}
/*related to the softphone modal form */
a#credentials, a#signout{
   text-decoration:underline;
   cursor:pointer;
   color: black;
   font-size: 10px;
}
#username, #password,#label_username, #label_password{
	font-size: 10px;
}
